

body {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  border: none;
  color: white;
}

body.dark {
  background-color: #111;
}

i {
  font-size: 25px;
}

h1, p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  font-family: 'solitreo', sans-serif;
}

p {
  font-weight: bold;
}

#mode {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-top: 20px;
  background-color: white;
}

.subtitle, h1 {
  text-align: center;
}

.subtitle {
  padding-bottom: 40px;
}

.formulario{
  width: 600px;
  margin: auto;
  padding: 20px 50px ;
  background-color: #55F;
}

.formulario.dark {
  background-color: #333;
}

fieldset {
  border: 0;
}

input, select {
  outline: none;
  border: none;
}
 div.datapersonal {
  margin-bottom: 20px;
 }

.aplications {
  margin-bottom: 25px;
}

.seniority{
margin-bottom: 5px;
}

label[for="email"]{
  display: block;
  margin-top: 15px;
}

label[for="back"], label[for="front"], label[for="full"] {
  display: block;
  margin-bottom: 10px ;
}

.tech {
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], select, button, textarea {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

input[type="email"] {
  min-width: 470px;
}

select, input[type="checkbox"], input[type="radio"], label {
  cursor: pointer;
}

textarea {
  display: block;
  margin-top: 10px;
  resize: none;
  width: 500px;
  height: 200px;
  font-family: sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
}

.experience {
  margin-top: 25px;
}

#description {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 100%;
  height: 100px;
}

label[for="lastname"] {
  margin-left: 20px;
}

label[for="description"] {
  font-weight: bold;
}

.name{
  display: inline;
}

input:focus {
  background-color: #E0FFFF;
}

#tecnology {
  margin-bottom: 5px;
}

.tecnology {
  margin-top: 25px;
} 

input[type="checkbox"] {
  margin-left: 20px; 
}

.button{
  width: 100px;
  margin: auto;
}

button {
  margin-top: 8px;
  background-color: #add8e6;
  cursor: pointer;
  transition:all 0.2s ease-in-out;
  padding: 5px;
  width: 120px;
  font-weight: bold;
  text-align: center;
}

button.dark {
  background-color: #777;
}

button:hover{
  background-color: #70808f80;
  transform: scale(1.05);
}

@media screen and ( max-width: 895px ) {

  body {
    margin: auto;
  }
  
  input[type="email"] {
    min-width: 300px;
  }
  
}